services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: liveops
    ports:
      - "5432:5432"

  livekit:
    image: livekit/livekit-server:latest
    restart: unless-stopped
    command:
      - "--dev"
      - "--bind"
      - "0.0.0.0"
      - "--keys"
      - "devkey: secret"
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
